*{
    background-color: aliceblue;
}

.par{
    background-color: aquamarine;
}

.sp{
    background-color: aquamarine;
    color: red;
}

.par2{
    background-color: bisque;
}

.sp2{
    background-color: bisque;
    color: blue;
}