.div1{
    background-color: greenyellow;
}

.div2{
    background-color: chartreuse;
}

.div3{
    background-color: green;
}


.div4{
    background-color: aqua;
}

.div5{
    background-color: aquamarine;
}

.div6{
    background-color: blue;
}